:root {
    /* Color variables */
    --primary-color: rgba(0, 0, 0, 0.08);
    --primary-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(172, 194, 254, 1);

    /* Size varibales */
    --extra-small: 0.5rem;
    --small: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    position: relative;
}
.descriptionContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.imgContainer {
    display: flex;
    align-items: center;
}
.imgContainer > img {
    width: 25rem;
    border-radius: 5%;
}
.contactInfoContainer {
    display: flex;
    align-content: flex-start;
    width: 25%;
    /* background-color: rebeccapurple; */
}

/* Media query for mobile devices */
@media (max-width: 1100px) {
    .mainContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
