.mainContainer {
    background-color: var(--background-color);
    margin: 2rem 0 0 0;
    padding: 0 8rem 0 8rem;
}
.headingContainer {
    padding: 0;
    margin: 0;
}

.dividerContainer {
    margin: 0;
    padding: 0;
    border: 1px solid var(--secondary-color);
}
.headingTxt {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /* font-size: var(--x-large); */
    background: linear-gradient(var(--secondary-color), var(--gradient-black));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.buttonContainer {
    display: flex;
    align-items: center;
    border-radius: var(--extra-small);
    cursor: pointer;
}
.buttonTxt {
    color: var(--white);
    font-size: var(--medium);
    margin: var(--extra-small) var(--extra-small);
}

.navigatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    /* background-color: rebeccapurple; */
    animation: upDownAnimation 3s linear infinite;
}

@keyframes upDownAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(40px);
    }
}
.imgStyle {
    margin: var(--small) var(--extra-small);
}

.descriptionContainer {
    display: flex;
    justify-self: start;
    align-items: center;
}
.descriptionTxt {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: 0;
    padding: 0;
    color: var(--white);
}

.customUnderline {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease;
}

.customUnderline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--white);
    transition: background 0.3s ease;
}

.customUnderline:hover {
    color: var(--secondary-color);
}

.customUnderline:hover::after {
    background: var(--secondary-color);
}
