:root {
    /* Color variables */
    --black: #acc2fe00;
    --primary-color: rgb(17, 17, 25,1);
    --primary-text-color: #ffffff;
    --secondary-text-color: #acc2fe;

    /* Size variables */
    --extra-small: 0.5rem;
    --small: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;
}

.bodyContainer {
    border: 1px solid var(--secondary-text-color);
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 70%;
}

.formContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.iconContainer {
    align-items: center;
    display: flex;
    flex-basis: 5vw;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

.mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: var(--primary-color); */
}

.mainContainer button {
    background: #8ab4f8;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: background 0.3s;
    width: 100%;
}

.mainContainer button:hover {
    background: #669cf1;
}

.mainContainer form {
    display: flex;
    flex-direction: column;
    width: calc(40%);
}

.mainContainer input,
.mainContainer textarea {
    background-color: transparent;
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    height: 5vh;
    width: 100%;
    font-size: var(--medium);
}

.mainContainer label {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .iconContainer {
        flex-direction: column;
    }

    .iconContainer a {
        margin: 10px 0;
    }

    .mainContainer {
        padding: 15px;
        width: 100%;
    }
}
