.bodyContainer {
    display: flex;
    background-color: var(--primary-color);
    color: var(--white);
    width: 60vw;
    padding: var(--small);
}

.formContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.iconContainer {
    align-items: center;
    display: flex;
    flex-basis: 5vw;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-evenly;
}

.contactFormMainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contactFormMainContainer form {
    display: flex;
    flex-direction: column;
    width: calc(40%);
}

.contactFormMainContainer input,
.contactFormMainContainer textarea {
    background-color: transparent;
    border-radius: 0.5rem;
    color: var(--secondary-color);
    height: 5vh;
    width: 100%;
}

.contactFormMainContainer label {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .iconContainer {
        flex-direction: row;
        margin-top: 1rem;
    }

    .iconContainer a {
        margin: 10px 0;
    }
    .bodyContainer {
        width: 80vw;
        flex-direction: column-reverse;
    }

    .contactFormMainContainer form {
        width: calc(80%);
    }
}
