.descriptionContainer {
    display: flex;
    justify-self: start;
    align-items: center;
}
.descriptionContainer>h1{
    margin: 0 0 0.5rem 0;
    padding: 0;
}
.customUnderline {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: var(--white);
    transition: color var(--zero) 0.3s ease;
 
}

.customUnderline::after {
    content: '';
    position: absolute;
    left: var(--zero);
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--white);
    transition: background var(--zero) 0.3s ease;
}

.customUnderline:hover {
    color: var(--secondary-color);
}

.customUnderline:hover::after {
    background: var(--secondary-color);
}
