.headingTxt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: var(--zero);
    padding: var(--zero);
    background: linear-gradient(var(--secondary-color), var(--gradient-black));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    width: 100%;
    margin-top: 0rem;
}

.textDecoration{
    text-decoration: underline;
    text-decoration-color: var(--secondary-color); 
    text-decoration-thickness: 2px; 
    text-underline-offset: 4px;
    text-decoration-style: solid; 
    position: relative;
    overflow: hidden; 
    margin-bottom: 0.5rem;
}

.animatedHeadingTxt {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}