.buttonMainContainer {
    display: flex;
    justify-content: center;
    border-radius: var(--extra-small);
    cursor: pointer;
}
.buttonTxt {
    color: var(--white);
    font-size: var(--medium);
    margin: var(--extra-small) var(--extra-small);
}