:root {
    /* Color variables */
    --primary-color: rgba(0, 0, 0, 0.08);
    --primary-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(172, 194, 254, 1);

    /* Size varibales */
    --extra-small: 0.5rem;
    --small: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    /* background-color: red; */
    /* margin: 0 2rem; */
}

.contentDisplayContainer {
    display: flex;
    background-color: rebeccapurple;
    justify-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

@media (max-width: 1120px) {
    .mainContainer {
        /* margin: 0 2rem; */
        background-color: red;
    }
    .contentDisplayContainer {
        background-color: green;
        justify-content: space-evenly;
    }
}

@media (max-width: 900px) {
    .mainContainer {
        /* margin: 0 2rem; */
    }
}
