.experienceMainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.timelineMainContainer {
    position: relative;
    padding: 1rem 0;
    width: 70%;
    margin: 0 auto;
    color: white;
}

.timelineItem {
    display: flex;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.timelineContent {
    background-color: var(--primary-color);
    padding: 10px 20px;
    position: relative;
    width: calc(100% - 60px);
    overflow: hidden;
}

.timelineItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    width: 2px;
    background: var(--secondary-color);
}

.timelineItem::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 11px;
    width: 18px;
    height: 18px;
    background: var(--secondary-color);
    border-radius: 50%;
    border: 2px solid var(--white);
}

@media (max-width: 768px) {
    .timelineMainContainer{
        width: 90%;
    }

    .timelineContent {
        width: calc(100% - 40px);
    }

    .timelineItem::before {
        left: 15px;
    }

    .timelineItem::after {
        left: 6px;
    }
}

@media (max-width: 480px) {
    .timelineMainContainer{
        width: 100%;
    }
  

    .timelineContent {
        width: 80%;
    }

    .timelineItem::before {
        left: 10px;
    }

    .timelineItem::after {
        left: 1px;
    }
}
