.dividerMainContainer {
    margin: var(--zero);
    padding: var(--zero);
    border: 1px solid var(--secondary-color);
}

.navigatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    animation: verticalMotionAnimation 3s linear infinite;
}

.commonBorderDecoration {
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}

.imgStyle {
    margin: var(--small) var(--extra-small);
}



@keyframes verticalMotionAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(40px);
    }
}
