:root {
    /* Color variables */
    --primary-color: rgb(17, 17, 25,1);
    --primary-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: rgba(172, 194, 254, 1);

    /* Size varibales */
    --extra-small: 0.5rem;
    --small: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;
}

.mainContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--secondary-text-color);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    height: 12rem;
    width: 25%;
    margin: 0.5rem;
    padding: 0.5rem;
}

@media (max-width: 1200px) {
    .mainContainer {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .mainContainer {
        width: 40%;
    }
}
@media (max-width: 768px) {
    .mainContainer {
        width: 90%;
    }
}
