.navbarMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box; 
    box-shadow: 0rem 1px 2px var(--secondary-color);
    cursor: pointer;
    padding: 0 1rem; 
}

.logoContainer {
    flex: 1;
    display: flex;
    align-items: center;
}

.hamburgerContainer {
    display: none;
    cursor: pointer;
    color: var(--white);
}

.sectionContainer {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}

.primaryTextStyle {
    color: var(--white);
    margin: 0 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbarMainContainer {
        width: 100%;
        padding: 0rem 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .logoContainer {
        margin-bottom: 1rem;
    }

    .hamburgerContainer {
        display: block;
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        transition: max-height 2s ease;
        max-height: 0;
        overflow: hidden;
    }

    .sectionContainer.open {
        max-height: 500px;
    }

    .primaryTextStyle {
        margin: 0.5rem 0;
    }
    .navBarContentContainer {
        display: flex;
        align-items: center;
        width: 100%;
    }
}
