.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color);
}

.logoContainer {
    flex: 1;
}

.primaryTextStyle {
    color: var(--primary-text-color);
    font-size: var(--small);
    margin: 0rem var(--extra-small);
}
.sectionContainer {
    display: flex;
}
