:root {
    /* Color variables */
    --primary-color: rgba(0, 0, 0, 0.08);
    --primary-text-color: rgba(255, 255, 255, 1);
    --secondary-text-color: #acc2fe;

    /* Size varibales */
    --extra-small: 0.5rem;
    --small: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}
.headingContainer {
    display: flex;
    align-items: center;
}

.skillsContainer {
    margin: 1rem;
}

.skillInfoContainer {
    display: flex;
    flex-wrap: wrap;
}

.primarySkillDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.secondarySkillDetails {
    width: 15rem;
    flex-wrap: wrap;
}
.skillLevel {
    background-color: var(--secondary-text-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
