:root {
    /* Color variables */
    --primary-color: rgb(17, 17, 25, 1);
    --white: #ffffff;
    --secondary-color: #acc2fe;
    --gradient-black: #acc2fe00;

    /* Size varibales */
    --zero: 0;
    --extra-small: 0.5rem;
    --small: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --x-large: 2.5rem;

    --mobile-max-width: 480px;

    /* Styles for small tablets and landscape mobile devices */
    --small-tablet-min-width: 481px;
    --small-tablet-max-width: 767px;

    /* Styles for tablets */
    --tablet-min-width: 768px;
    --tablet-max-width: 1024px;

    /* Styles for laptops and small desktops */
    --laptop-min-width: 1025px;
    --laptop-max-width: 1200px;

    /* Styles for desktops and large screens */
    --desktop-min-width: 1201px;
}
